body {
    color: blue;
    background-color: white;
    font-family: times new roman;
}

p {
    font-size: 25px;
    border: 5px solid blue;
    border-radius: 25px;
    padding: 25px;
}

h1 {
    font-size: 60px;
    border: 5px solid blue;
    border-radius: 25px;
    text-align: center;
    padding: 25px;
} 

h2 {
    font-size: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 47px;
    text-decoration: none;
    font-size: 30px;
}

li a:hover {
    background-color: darkblue;
}

table {
    width:100%;
}

table, th, td {
    border: 1px solid blue;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: center;
}

table#t01 th {
    background-color: blue;
    color: white;
}
